.dep/
.lib/
MinOZW
cpp/src/vers.cpp
libopenzwave.a
libopenzwave.pc
libopenzwave.so*
libopenzwave.so
*.obj
/cpp/build/windows/vs2010/Debug/*.log
/cpp/build/windows/vs2010/Debug/OpenZWave.tlog/*.tlog
/cpp/build/windows/vs2010/Debug/OpenZWave.tlog/*.lastbuildstate
/cpp/build/windows/mingw32/*.o
/cpp/build/windows/mingw32/*.d
/cpp/build/windows/mingw32/*.d.*
/cpp/build/windows/mingw32/vers.c
/cpp/lib/windows-mingw32
*.idb
*.pdb
*.log
*.tlog
/dotnet/build/vs2010/Debug/app.res
Debug
/dotnet/examples/OZWForm/src/OZWForm.csproj
/dotnet/examples/OZWForm/src/OZWForm.sdf
/dotnet/examples/OZWForm/src/OZWForm.sln
/dotnet/examples/OZWForm/src/OZWForm.v12.suo
*.cache
*.res
*.lib
*.dll
*.metagen
*.exp
*.exe
OZWForm.exe.config
OZWForm.vshost.exe.config
OZWForm.vshost.exe.manifest
*.resources
/dotnet/examples/OZWForm/src/bin/x86/Release/OZW_Log.txt
/dotnet/examples/OZWForm/src/bin/x86/Release
/dotnet/examples/OZWForm/src/obj/x86/Release
.gitignore
/cpp/build/windows/winversion.cpp
.distfiles
*.dylib
*.txt
ozw_config
.project
*~
/.cproject
/zwscene.xml
/ozwcache_*.xml
.idea/
.idea/*
ozw_config

cpp/src/command_classes/\.DS_Store
