Source: openzwave
Maintainer: Justin Hammond <justin@dynam.ac>
Uploaders: Justin Hammond <justin@dynam.ac>
Section: devel
Priority: optional
Build-Depends: debhelper
	, dh-exec (>=0.2)
	, g++ (>= 4.4)
	, quilt
	, libudev-dev
	, libxml2-utils
	, gcc, g++
Standards-Version: 4.1.5
Homepage: http://www.openzwave.com/

Package: libopenzwave1.4
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: API to use a Z-Wave controller
 OpenZWave is an open-source, cross-platform library designed to enable
 anyone to add support for Z-Wave home-automation devices to their
 applications, without requiring any in depth knowledge of the Z-Wave
 protocol.
 .
 This package contains the library.

Package: libopenzwave1.4-dev
Section: libdevel
Depends: ${misc:Depends}, libopenzwave1.4 (= ${binary:Version})
Suggests: libopenzwave-doc
Architecture: any
Description: header files for the openzwave library
 OpenZWave is an open-source, cross-platform library designed to enable
 anyone to add support for Z-Wave home-automation devices to their
 applications, without requiring any in depth knowledge of the Z-Wave
 protocol.
 .
 This package contains files for developing.

Package: libopenzwave-doc
Section: doc
Depends: ${misc:Depends}, libjs-jquery
Architecture: all
Description: documentation for the openzwave library
 OpenZWave is an open-source, cross-platform library designed to enable
 anyone to add support for Z-Wave home-automation devices to their
 applications, without requiring any in depth knowledge of the Z-Wave
 protocol.
 .
 This package contains documentation.

Package: openzwave
Section: misc
Architecture: any
Depends: libopenzwave1.4 (>= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Sample Program for libopenzwave
 OpenZWave is an open-source, cross-platform library designed to enable
 anyone to add support for Z-Wave home-automation devices to their
 applications, without requiring any in depth knowledge of the Z-Wave
 protocol.
