name: Test Config Files

on: 
  pull_request:
    paths: 
      - 'config/**'

jobs:
  ConfigTest:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: install dependancies
      run: sudo apt update && sudo apt-get install libxml2-utils libxml-simple-perl
    - name: make xmltest
      run: |
        echo "::add-matcher::.github/XMLTestMatcher.json"
        make xmltest
